@import 'colors';

.header {
  background-color: $beige;
  height: 76px;
  position: fixed;
  text-align: center;
  width: 100%;

  .header-button {
    color: $mint-green;
    font-family: 'Sacramento', 'cursive';
    font-size: 36px;
    margin: 0 auto;
    transform: translateY(25%);
  }
}
