@import 'colors';

.home-page-image {
  width: 100%;
}

.home-page-arrow-container {
  background: url('~assets/images/alex-lean.svg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 25%;
  height: 100vh;
  text-align: center;
  width: 100%;

  .home-page-arrow-button {
    color: $turquiose;
    display: inline-block;
    background-attachment: fixed;
    padding: 0;
    position: relative;
    top: 94vh;

    .md-icon {
      font-size: 48px;
    }
  }

}

.home-page-profile {
  position: relative;
}

.home-page-profile-name {
  color: $turquiose;
  font-family: 'Poiret One', cursive;
  font-size: 48px;
  line-height: 48px;
  padding-top: 24px;
  text-align: center;
}

.home-page-profile-text {
  color: $medium-gray;
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  text-align: center;

  em {
    color: $turquiose;
  }
}
