@import 'colors';

.home-page-image {
  left: -125px;
  position: fixed;
  width: 225%;
}

.home-page-arrow-container {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 12px;

  .home-page-arrow-button {
    color: $mint-green;
    padding: 0;

    .md-icon {
      font-size: 48px;
    }
  }
}
